{% extends 'base.html.twig' %}

{% import './helpers/pagination.html.twig' as pagination %}

{% block title %}Account{% endblock %}

{% block body %}
{% for message in app.flashes('notification') %}
    <div class="alert alert-info alert-dismissible fade show mt-2">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div class="container-fluid mt-5">
    <h1 class="mb-4">Accounts</h1>
    <div class="table-responsive">
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Billing City</th>
                    <th scope="col">Billing Country</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tax Number</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Assigned To</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                    <tr>
                        <td><a href="{{ path('account_show', {'id': account.id}) }}">{{ account.name }}</a></td>
                        <td>{{ account.billingCity }}</td>
                        <td>{{ account.billingCountry }}</td>
                        <td>{{ account.phone }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.taxNumber }}</td>
                        <td>{{ account.createdAt|format_datetime('short', 'short') }}</td>
                        <td>{{ account.assignedTo ? account.assignedTo.getFullname : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="15" class="text-center">No accounts found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ pagination.render_pagination(current_page, total_pages, 'account_index') }}
</div>
{% endblock %}