{% extends 'base.html.twig' %}

{% block title %}Account - Details{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10">
            <h1 class="">Account Details</h1>
        </div>
        <div class="btn-group col-md-2 d-flex align-items-center justify-content-end" role="group">
            <span>
                <a href="{{ path('account_index') }}" class="btn btn-primary">Back to list</a>
            </span>
        </div>
    </div>

    <div class="row account-form mt-4">
        <div class="col-md-6">
            <div class="mb-3">
                <div><strong>Name:</strong></div>
                <div>{{ account.name ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Phone:</strong></div>
                <div>{{ account.phone ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Billing address</strong></div>
                <div>{{ account.billingStreet ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingZip ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingCity ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingState ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingCountry ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Description:</strong></div>
                <div>{{ account.description ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Date Created:</strong></div>
                <div>{{ account.createdAt|format_datetime('short', 'short') ?: '&nbsp;'|raw }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <div><strong>Tax Number:</strong></div>
                <div>{{ account.taxNumber ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Email:</strong></div>
                <div>{{ account.email ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Shipping address</strong></div>
                <div>{{ account.billingStreet ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingZip ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingCity ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingState ?: '&nbsp;'|raw }}</div>
                <div>{{ account.billingCountry ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Website:</strong></div>
                <div>{{ account.website ?: '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Date Updated:</strong></div>
                <div>{{ account.updatedAt ? account.updatedAt|format_datetime('short', 'short') : '&nbsp;'|raw }}</div>
            </div>
            <div class="mb-3">
                <div><strong>Assigned To:</strong></div>
                <div>{{ account.assignedTo ? account.assignedTo.username : '&nbsp;'|raw }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}